@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'PT Sans', sans-serif;
}

$primary-color: #151817;
$secondary-color: #ffffff;
$decoration-color: rgb(73, 73, 73);

body {
   background-color: $primary-color;
}

header {
   border-bottom: 1px solid $decoration-color;

   .header_data {
      width: 1200px;
      margin: auto;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
         width: 100px;
         cursor: pointer;
      }

      .header_buttons {
         button {
            padding: 10px;
            background-color: transparent;
            border: none;
            color: $secondary-color;
            font-size: 1rem;
            font-weight: 700;
            cursor: pointer;
            border-radius: 10px;
            transition: .3s;

            &:hover {
               background-color: $decoration-color;
            }
         }

         button:nth-child(2) {
            border: 1px solid $decoration-color;
         }
      }
   }
}

.data_query_div {
   width: 1200px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 100px;

   .data_query_div_p1 {
      h1 {
         color: $secondary-color;
         font-size: 5rem;
         line-height: 4.5rem;
         font-weight: lighter;
      }

      p {
         margin-top: 50px;
         color: $decoration-color;
         font-size: 1.3rem;
      }

      button {
         padding: 15px 40px 15px 40px;
         margin-top: 50px;
         background-color: transparent;
         border: 1px solid $secondary-color;
         color: $secondary-color;
         border-radius: 50px;
         cursor: pointer;
         font-size: 1rem;
         font-weight: bold;
         transition: .3s;

         &:hover {
            background-color: $secondary-color;
            color: $primary-color;
         }
      }
   }

   .data_query_div_p2 {
      img {
         border-radius: 20px;
         border: 1px solid $decoration-color;
      }
   }
}

.apps {
   width: 1200px;
   margin: auto;
   margin-top: 50px;

   .apps_div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 100px;

      div {
         width: 480px;

         img {
            width: 60px;
         }

         h2 {
            color: $secondary-color;
            font-size: 2rem;
            font-weight: lighter;
            margin-top: 20px;
         }

         p {
            color: $decoration-color;
            width: 40ch;
            margin-top: 20px;
            font-size: 1.2rem;
            font-weight: 700;
         }
      }

   }
}

footer {
   width: 1200px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 200px;
   padding-bottom: 20px;

   .footer_backed {
      img {
         width: 30px;
      }

      p {
         margin-left: 10px;
         color: $decoration-color;
      }

      display: flex;
      align-items: center;
      justify-content: center;
   }

   .footer_data {
      display: flex;
      align-items: center;
      justify-content: center;

      p:nth-child(1) {
         margin-right: 20px;
         color: $decoration-color;
      }

      p:nth-child(2) {
         margin-right: 20px;
         color: $secondary-color;
      }

      img {
         width: 30px;
      }
   }
}

.save_time_div {
   width: 1200px;
   margin: auto;
   margin-top: 100px;

   h1 {
      color: $secondary-color;
      text-align: center;
      font-size: 3rem;
   }

   p {
      text-align: center;
      font-size: 1.3rem;
      color: $decoration-color;
   }

   .check_list {
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      ul {
         color: $secondary-color;

         li {
            font-size: 1.1rem;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: bold;
         }
      }

      ul {
         list-style: none;
      }

      ul li:before {
         content: '✓';
      }
   }
}

#particles-js {
   width: 1200px;
   height: 600px;
   margin: auto;
   margin-top: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   color: $secondary-color;
   margin-bottom: 100px;

   h1 {
      font-size: 3rem;
      line-height: 3rem;
   }

   p {
      color: $decoration-color;
      font-size: 1.3rem;
      margin-top: 20px;
   }

   button {
      padding: 15px 40px 15px 40px;
      margin-top: 20px;
      background-color: transparent;
      border: 1px solid $secondary-color;
      color: $secondary-color;
      border-radius: 50px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      transition: .3s;

      &:hover {
         background-color: $secondary-color;
         color: $primary-color;
      }
   }
}